*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;;
}

body{
    background-color: #08090a;
}

.green-txt{
    color: #18e299;
    font-size: 12px;
}

#hero{
    background-image: url(./images/bg-dark.svg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100px 300px auto;
}

button{
    border: 0;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 500;
}

.black-button{
    background-color: #ffffff15;
    color: #fff;

}

.white-button{
    background-color: #fff;
    color: black;

}

.white-button:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}

header{
    position: sticky;
    top: 0;
    background-color: #ffffff0f;
    backdrop-filter: blur(20px);
    z-index: 3;
}

#main-header{
    width: 1150px;
    font-size: 0.95rem;
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    margin: auto;
}

#main-header svg{
    height: 25px;
}

#nav-bar ul{
    list-style-type: none;
    display: flex;
}

#nav-bar ul li a{
    text-decoration: none;
    padding-right: 30px;
    color: #fff;
    text-align: center;
}

#main-header button{
    border: 0;
    padding: 10px 15px;
    border-radius: 30px;
    font-weight: 500;
    margin-left: 5px;
}

#main-header button:hover{
    cursor: pointer;
}

.new{
    margin: auto;
    width: 380px;
    background-color: #ffffff0f;
    backdrop-filter: blur(20px);
    padding: 6px 10px;
    border-radius: 40px;
    display: flex;
    align-items: baseline;
    z-index: 1;
}

.new p{
    color: #fff;
    display: inline;
    text-align: center;
    font-size: 0.9rem;
}

.new p:first-child{
    margin-right: 8px;
    background-color: #0c8c5e;
    border-radius: 40px;
    padding: 2px;
    font-size: 0.8rem;
    display: inline-block;
    width: 45px;
}

.hero-text{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-align: center;
}

.hero-text input{
    padding: 13px 10px;
    width: 400px;
    background-color: #ffffff0f;
    backdrop-filter: blur(20px);
    border-radius: 40px;
    border: #b4b4b490 solid 0.5px;
    -ms-zoom-animation: 1;
}

.hero-text input, select, textarea{
    color: #fff;
}

.hero-text textarea:focus, input:focus {
    color: #fff;
}

.hero-text input::placeholder{
    color: #b4b4b4;
}

.hero-text button{
    position: relative;
    left: 150px;
    top: -70px;
    z-index: 2;
}

#hero .dark-img{
    display: block;
    margin: auto;
    border-radius: 30px;
    border: 3px solid #ffffff0f;
    margin-top: 50px;
    border-bottom: none;
    border-radius: 30px 30px 0 0;
}

.empty-space{
    height: 40vh;
}

#partners{
    margin: 200px 0;
}

.img-container{
    width: 1160px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 40px 0;
    justify-content: center;
    justify-items: center;
    
}


#partners .img-container img{
    width: 40%;
}

.box{
    color: #fff;
    height: 550px;
    border: 1px solid rgba(128, 128, 128, 0.197);
    padding: 30px;
    border-radius: 30px;
}

.box > *{
    margin-bottom: 20px;
}

#info{
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 200px 1fr;
    justify-content: center;
    grid-gap: 0 20px;
}

#info h2{
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.box img{
    position: relative;
    left: -20px;
}

#info-header{
    grid-row: 1/2;
    grid-column: 1/-1;
    height: 200px;
    color: #fff;
    text-align: center;
}

#info-header p{
    color: #b4b4b4;
    font-weight: 300;
}

#footer{
    display: flex;
    justify-content: center;
    background-color: #151515;
    border: rgba(128, 128, 128, 0.348) solid 0.5px;
    margin-top: 100px;
}

footer{
    background-color: #151515;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 344px);
    grid-template-rows: 120px 320px 120px 200px;
    font-size: 0.9rem;
}

footer > *{
    border: rgba(128, 128, 128, 0.348) solid 0.5px;
}

footer .socials{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 30px;
}

footer .links{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

footer .links ul li{
    list-style: none;
    margin-top: 20px;
}

footer .links ul li:hover{
    cursor: pointer;
}

footer .links ul li:first-child{
    color: rgba(128, 128, 128, 0.669);
}

footer .backing{
    grid-column: 1/-1;
    padding: 30px;
    display: flex;
    align-items: center;
}

footer .copyright{
    grid-column: 1/-1;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 30px;
}
